button {
    align-items: center;
    width: auto;
    height: 2.5rem;
    border: 0;
    background-color: transparent;
}

button span {
    font-size: 0.875rem;
    color: rgb(219, 219, 255);
}

.wrapper{
    height: 45px;
    position: sticky;
    top:0px;
    z-index: 20;
}

.navbar {
    height: 45px !important;
    padding-right: 2rem;
    padding-left: 2rem;
    justify-content: space-between;
    width: 100%;
    background: rgb(76, 51, 152);
}

.navbarWrapper {
    justify-content: space-between;
    align-items: center;
    font-size: 1.25rem;
    width: 100%;
    max-width: 1232px;
    margin-left: auto;
    margin-right: auto;
    background: transparent;
    height: auto;
}

.navbarMenu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    background: transparent;
}

.flexRow {
    display: flex;
    flex-direction: row;
}

.navHeight {
    height: 1rem;
}

.navbarOption {
    justify-content: space-between;
    height: auto;
    background: transparent;
    margin: 0 4rem;
}

.navbarOption div {
    width: 1.875rem;
    height: 1rem;
}

.navbarOption button {
    padding-left: 1rem;
    padding-right: 0.75rem;
}

.navLogo {
    color: rgb(250, 250, 250);
    align-items: center;
}


.languagesLogo {
    width: 1rem;
}

.userLogo {
    width: 1rem;
}

.adduserLogo {
    width: 1.25rem;
    height: auto;
}

.getirLogo {
    width: 2.188rem;
}

.getiryemekLogo {
    width: 5.438rem;
}

.getirbuyukLogo {
    width:5.063rem;
}

.getirsuLogo {
    width: 3.25rem;
}

.bg{
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100%;
    margin: 0 1px;

}

.bg:hover{
    color: rgb(244, 242, 253);
    background-color: #5d3ebc;
    border-radius: 6px 6px 0px 0px;
}

.bgActive{
    color: rgb(244, 242, 253);
    background-color: #5d3ebc;
    border-radius: 6px 6px 0px 0px;
}
.bgNone{

}
.modal{
    background-color: #fafafa;
    border-radius: 8px;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    padding: 10px;

}

.modalİki{
    background-color: #fafafa;
    border-radius: 8px;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    padding: 10px;

}

.modalNavbar{
    display: flex;
    flex-direction: row;
    justify-content: end;
}
.modalHeader{
    color: #5d3ebc;
    font-size: 16px;
}

.exitBtn{

    size: 10px;
    margin-left: 90px;
    cursor: pointer;
}


.modalDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.kvkk{
    color: #5d3ebc;
    text-decoration:underline #5d3ebc !important;
}

.registerDiv{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.registerSpan{
    color: #697488;
    font-size: 14px;
}

.kvkkSpan{
    font-size: 12px;
    color: #a2a2a2;
}
