.formBox {
    height: 500px;
    z-index: 0;
    background-color: white;
    width: 400px;
    padding: 20px 24px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: normal;
}

form {

}

.telefon{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.input {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 16px;
}

.tel{
    height: 52px;
    border: 2px solid rgb(223, 222, 226);
    border-radius: 4px;
    position: relative;

}

.text {
    background-color: #5d3ebc;
    color: white;
    font-weight: 600;
    width: 100%;
    height: 48px;
    border-radius: 8px;
    margin-top: 24px;
}


.header{
    color: #5d3ebc;
    font-weight: 600;
}

label>input:hover{
    border-color: #5d3ebc;
}



input::placeholder{
    padding-left: 8px;

}

.countryInput {
    width: 50%;
}

.arrow {

}

.country {
    border-radius: 4px;
    width: 25%;
    height: 100%;
    font-size: 18px;
    padding-left: 14px;
    padding-right: 14px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}


.text:hover {
    background-color: #7849f7;


}

.checkbox{
    margin-top: 1px;
    margin-left: 5px;
    font-size: 12px;
    color: #a2a2a2;
}

checkBox{
    position: absolute;
    inset: 0px;
    z-index: 1;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.aMetni{

    color: #5d3ebc;
    text-decoration:underline #5d3ebc !important;
}

.metin{
    font-size: 12px;
    color: #a2a2a2;
}

.check {
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 22px;
    height: 22px;
    padding: 2px;
    transition: all 0.3s ease 0s;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(223, 222, 226);
    border-radius: 4px;
}


.checkboxWrapper{
    display: inline-flex;
}

