.wrapper {
    @apply
    bg-white
    h-auto
}

.mainFooter {
    @apply
    w-full
    flex
    flex-col
    max-w-screen-xl
    mx-auto
    pt-10

}


.footerFirst {
    @apply
    flex
    flex-row
    w-full
    mt-0
    text-sm
    justify-between
    border-b-one
    border-solid
    border-buttonBg-1
}

.footerSecond {
    @apply
    py-6
    flex
    w-full
    flex-row
    justify-around

}

.copy {
    @apply
    flex
    flex-auto
    flex-row
    justify-start
    text-xs
    items-center
}

.copy a {
    @apply
    text-anaTema-1
    pr-4
}

.copyDot {
    @apply
    w-1
    h-1
    rounded-full
    bg-anaTema-1
    mr-4
}

.social {
    @apply
    flex
    flex-row
    flex-auto
    justify-end
    items-center
}

.facebookButton:hover {
    @apply
    bg-buttonBg-1
}

.facebookButton:hover .facebookSvg {
    fill: #5d3ebc !important;

}

.facebookButton {
    @apply
    rounded-lg
    w-8
    h-8
    flex
    flex-row
    justify-center
    items-center
}

.twitterButton {
    @apply
    rounded-lg
    w-8
    h-8
    flex
    flex-row
    justify-center
    items-center
    ml-2.5
}

.twitterButton:hover {
    @apply
    bg-buttonBg-1
}

.ınstagramButton {
    @apply
    rounded-lg
    w-8
    h-8
    flex
    flex-row
    justify-center
    items-center
    ml-2.5
}

.ınstagramButton:hover {
    @apply
    bg-buttonBg-1
}

.facebookSvg {
    fill: #697488FF;
}

.twitterButton:hover .twitter {
    fill: #5d3ebc;
}

.twitterSvg {
    fill: #697488FF;
}

.ınstagramButton:hover .instagram {
    fill: #5d3ebc;
}

.ınstagramSvg {
    fill: #697488FF;
}

.languageButton {
    @apply
    ml-2.5
    rounded-lg
    h-yedi
    flex
    flex-row
    items-center
    justify-center
    border
    border-button-1
    rounded-lg
    border-solid
    px-2

}


.languageDiv {
    @apply
    flex
    flex-row
    items-center
}

.facebookButton:hover {
    @apply
    bg-buttonBg-1
}

.languageButton:hover {
    @apply
    bg-buttonBg-1
}

.languageButton:hover .language {
    @apply
    stroke-anaTema-1
}

.languageButton:hover .languageText {
    @apply
    text-anaTema-1
}

.languageText {
    @apply
    text-ozel-1
    pl-1
}


.language {
    @apply
    stroke-ozel-1
    w-4
    h-4
}















