.wrapper {
    background: linear-gradient(90deg, #5d3ebc 0%, rgba(93, 62, 188, 0) 100%);
    opacity: 1;
    grid-column: 1 / -1;
    width: 100%;
    height: 560px;
    z-index: 8;
}

.image{
    width: 100%;
    height: 560px !important;
    object-fit: cover;
    opacity: 0.5;
    height: auto;
}

.imageWrapper{
    height: 100%;
}