
.wrapper {
    @apply
    mt-6
    w-full
    max-w-max

}

.wrapper span{
    font-weight: 600;
}

.image {
   width: 400px;
    height: 200px;
    border-radius: 8px;

}

.imgWrapper {
    @apply
    flex
    w-96
    mt-4
}

