@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #fafafa;

}

::-webkit-scrollbar {
    display: none;
    visibility: hidden;
    opacity: 0
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
    position: absolute;
    height: 100%;
    width: 100%;

}

.slick-prev:before {
    fill: red !important;
}

#test1234 .slick-prev:before {
    opacity: inherit;
    content: url("/public/icon/before.svg");
}

#test1234 [dir='rtl'] .slick-prev:before {
    opacity: inherit;
    content: url("/public/icon/after.svg");
}

#test1234 .slick-next:before {
    opacity: inherit;
    content: url("/public/icon/after.svg");
}

#test1234 [dir='rtl'] .slick-next:before {
    opacity: inherit;
    content: url("/public/icon/before.svg");
}


 .ReactFlagsSelect-module_flagsSelect__2pfa2{
     margin-bottom: 0;
 }

.ReactFlagsSelect-module_selectBtn__19wW7:after {
    content: url("/public/icon/dropdown.svg");
    padding-bottom: 32%;
    padding-right: 16px;
    border: none;

}
#rfs-btn{
    height: 52px;
    width: 110px;
    margin-left: 22px;
    border: 2px solid rgb(223, 222, 226);;
}



#rfs-btn span {
    color: black !important;
}

.ReactFlagsSelect-module_selectBtn__19wW7[aria-expanded="true"]:after {
    border: 0;
    padding-top: 15%;
    padding-right: 21px;
    content: url("/public/icon/up.svg");

}


.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
    opacity: inherit;
}


.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: 0;
    margin-right: 0;
}

#test123 .slick-slide {
    padding-right: 10px;
}

.slick-slide {

    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

#test123 .slick-track {
    width: max-content !important;
    display: flex;
    flex-direction: row;
    left: 0 !important;

}

#test123 .slick-slide {
    width: 100% !important;

}

#test123 .slick-list {
    width: 100%;
    max-width: 1228px;

}


#testMutfak .slick-prev:before {
    opacity: inherit;
    content: url("/public/icon/before.svg");
}

#testMutfak [dir='rtl'] .slick-prev:before {
    opacity: inherit;
    content: url("/public/icon/after.svg");
}

#testMutfak .slick-next:before {
    opacity: inherit;
    content: url("/public/icon/after.svg");
}

#testMutfak [dir='rtl'] .slick-next:before {
    opacity: inherit;
    content: url("/public/icon/before.svg");
}

#getir .icon1 {
    width: 180px;
    height: 180px;
}

#getirBuyuk .icon1 {
    width: 315px;
    height: 62px;
}

#getirSu .icon1 {
    width: 250px;
    height: 77px;
}

#slider .slick-slide {
    width: 1920px;
    height: 560px;
}


.slick-next {
    right: 0;
}

#slider .slick-prev:before {
    opacity: inherit;
    content: none;
}

#slider [dir='rtl'] .slick-prev:before {
    opacity: inherit;
    content: none;
}

#slider .slick-next:before {
    opacity: inherit;
    content: none;
}

#slider [dir='rtl'] .slick-next:before {
    opacity: inherit;
    content: none;
}

.slick-list{
    position: initial;
}